<% include partials/header %>

<h1>Register Form!!</h1>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Sign Up</button>
</form>

<% include partials/footer %>