<% include ../partials/header %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to CampGrounds - </h1>
			<p>View our hand-picked campgrounds from all over the world</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
			</p>
		</div>
	</header>

	<div class="row text-center" style="display:flex; flex-wrap:wrap">
				<% campgrounds.forEach(function(campground){ %>
		<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="thumbnail">
					<img src="<%= campground.image %>" alt="Image">
					<div class="caption">
						<h3><%= campground.name %></h3>
					</div>
					<p>
						<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
					</p>
			</div>
		</div>
				<% }) %>
	</div>
	
</div>

<% include ../partials/footer %>